{% extends 'paginas/inicio.html'%}
{%load static%}

{% block titulo %}
<h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Productos</span></h1>
{% endblock titulo %}

{%block imagen%}
<img class="profile-img" src="{%static 'assets/sostenes.png'%}" alt="Sostenes, personaje relevante de 'Climax, la ciudad de los Juguetes'" />
{%endblock imagen%}


{% block informacion_adicional %}
<table class= "table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Producto</th>
            <th>Codigo</th>
            <th>Precio</th>
            <th>Fabricante</th>
        </tr>
    </thead>
    <tbody>
        {% for x in Productos %}
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.nombre}}</td>
                <td>{{x.codigo}}</td>
                <td>{{x.precio}}</td>
                <td>{{x.fabricante}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
    <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="{% url 'productosForm' %}">Formulario</a>
</div>
{% endblock informacion_adicional %}

